### Mandatory
PROJECT_NAME="Test Observer's Handbook"
OBJECTLIST_FILE="test-objectlist.txt"
PREFACE_FILE='Preface.tex'

### Generic
DEBUG=1
# NO_DELETE_UNUSED (unset) -- if set, does not delete temporary sky chart SVG and DSS gif files
# NO_REUSE_EXISTING (unset) -- if set, does not reuse existing images, and downloads / generates new ones instead
#NO_REUSE_EXISTING_SKYCHART=1
DSS_RESIZE=1024

### Controlling the form generation
# SINGLE_PAGE=1 
# FOV_ZOOMED_IN (unset) -- used only in two-page mode. Sets the zoomed-in FOV. If unset, a dynamic FOV of 10 * (object's major axis is used)
FOV_ZOOMED_OUT=30
# FOV_INTERMEDIATE (unset) -- used only in two-page mode. Sets the intermediate FOV. If unset, the logarithmic average of the zoomed-in and zoomed-out FOVs is used.
# APPROX_FOV (20) -- used only in single-page mode. Sets the FOV of the skychart
# SKYCHART_RATIO (0.6) -- used only in single-page mode. Sets the ratio of space used by the sky chart to the total space used by the DSS image and the sky chart.

### Overlays
# LOGO_SIZE (0.7) -- size of an optional logo overlay in inches
# LOGO_FILE (unset) -- file containing an optional logo to render on each object's front page
# BINOCULAR_ICON (binoculars.pdf) -- a file containing clipart of a binocular to render for binocular-observable objects
# TELESCOPE_ICON (kstars.pdf) -- a file containing clipart of a telescope to render for telescope-observable objects
# LOGFORM_FILE (Logging-Form.pdf) -- a file containing the logging form



